.banner{
    width: 100%;
    border-radius: 1em;
    
}
.controles{
    height: 10vh;
    cursor: pointer;
    color: var(--primary-color);
    font-size: 35px;
    transition: 1s;
    margin-top: 0.5em;
    margin-bottom: 0.5em;    
    display: flex;
    justify-content:center;    
}
#prev:hover{
    font-size: 41px;
    transition: 1s;
}
#next:hover{
    font-size: 41px;
    transition: 1s;
}
.controles :first-child{
    margin-right: 0.5em;
}
/*TAMANHO MAX 1090PX*/
@media (max-width:1090px) {
    nav{
        font-size: 0.7em;
    }    
}
/*TAMANHO MAX 951PX*/
@media (max-width:951px) {
    nav{
        font-size: 0.5em;
    }
}
/*TAMANHO MAXIMO 763PX*/
@media (max-width:763px) {
    nav{
        font-size: 0.4em;
    }
}

