.banner{
    width: 100%;
    
}
.controles{
    height: 10vh;
    cursor: pointer;
    color: var(--primary-color);
    font-size: 40px;
    transition: 1s;
    margin-top: 0.5em;
    margin-bottom: 0.5em;    
    display: flex;
    justify-content:center;    
}
#prev:hover{
    font-size: 50px;
    transition: 1s;
}
#next:hover{
    font-size: 50px;
    transition: 1s;
}
.controles :first-child{
    margin-right: 0.5em;
}
