#formularioFaleConosco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    width: 50vw;
    height: 20em;
    margin: auto;
    margin-bottom: 2em;
    gap: 10px;
    border-radius: 7px;
}
#formularioFaleConosco input{
    width: 90%;   
    height: 30px;
    border-radius: 5px;
    
}
#formularioFaleConosco textarea{
    width: 90%;   
    border-radius: 5px;
    
}
::placeholder{
    font-family: var(--fonte-padrao);
}
button{
    font-family: var(--fonte-padrao);
    background-color: var(--primary-color);
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}