header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    font-family: var(--fonte-padrao);
}
.logo{
    width: 10vw;
}

li{
    display: inline;
    margin-left: 20px;
}
a{
    font-size: 1vw;
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-color);
    transition: 0.5s;   
}
a:hover{
    font-size: 1em;
    text-decoration: underline;
    font-weight: bold;
    color: var(--primary-color); 
    transition: 0.5s;   
}
.menuLinks{
    display: flex;
    list-style: none;
}
#botaoHamburguer{
    color: var(--primary-color);
    font-size: 1.8em;
    margin: auto;
    cursor: pointer;
}
