@import url(header.css);
@import url(paraEmpresas.css);
@import url(banner.css);
@import url(reserva.css);
@import url(requisitosLocacao.css);
@import url(footer.css);
@import url(promocoes.css);
@import url(localizacao.css);
@import url(formularioFaleConosco.css);

:root{
    --primary-color: #846130;
    --second-color: #846130;
    --third-color: #0788D9;
    --fonte-padrao: "Roboto Serif", serif;
}
*{
    margin: 0;
}
body{
    background-image: url(../imagens/fundo4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: var(--fonte-padrao);
}
h1,h2,h3,p{
    color: var(--primary-color);   
}
h1{
    font-size: 2.3vw;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    transition: 1s;
}
h1:hover{
    font-size: 2.5vw;
    transition: 1s;
}
h2{
    font-size: 1.7vw;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}
h3{
    font-size: 1,7vw;
}